<div class="row">
	<div class="col-md-6">

		<li><a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Overview of R and RStudio</a></li>
		<li><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></li>
		<li><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with Data</a></li>
		<li><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Manipulating Data Frames with <code>dplyr</code></a></li>
		<li><a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html">Data Visualisation with <code>ggplot2</code></a></li>

	</div>
</div>
